--extra-index-url https://pypi.org/simple/ # should remove this and put packages on devpi

bump2version==1.0.1
flake8>=2.6.0
coverage>=4.1
# Sphinx>=1.4.8
sphinx==7.2.6
pytest>=2.9.2
pybuilder-pytest>=1.0.0
pybuilder-pytest-coverage

myst-parser==2.0.0
piccolo-theme==0.21.0